    table{
    width: 50vw;
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
    margin-left: 16vw;
    margin-top: 5vh;
    }
    table, td, th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
    }
    th{
    background-color: blue;
    color: white;
    }
    tr:nth-child(odd){
    background-color: lightblue;
    }
    tr:nth-child(odd):hover{
    background-color: dodgerblue;
    color: white;

    }
    tr:nth-child(even){
    background-color: #ededed;
    }
    tr:nth-child(even):hover{
    background-color: lightgray;
    }